<routes>
    <vType id="car" accel="1.0" decel="4.5" maxSpeed="13.89" length="5" />

    <!-- From East -->
    <flow id="flow_E_to_W" type="car" begin="0" end="3600" number="100" from="E_in" to="W_out" />
    <flow id="flow_E_to_S" type="car" begin="0" end="3600" number="100" from="E_in" to="S_out" />

    <!-- From West -->
    <flow id="flow_W_to_E" type="car" begin="0" end="3600" number="100" from="W_in" to="E_out" />
    <flow id="flow_W_to_S" type="car" begin="0" end="3600" number="100" from="W_in" to="S_out" />

    <!-- From South -->
    <flow id="flow_S_to_E" type="car" begin="0" end="3600" number="100" from="S_in" to="E_out" />
    <flow id="flow_S_to_W" type="car" begin="0" end="3600" number="100" from="S_in" to="W_out" />
</routes>

